body {
  color: white;
}

.cups-and-ball {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.parent-of-cups {
  min-width: 500px;
  min-height: 300px;
  display: grid;
  margin: auto;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.bottom-of-cup {
  position: relative;
  width: 100px;
  height: 20px;
  background-color: rgb(22, 88, 126);
  margin: auto;
  border-radius: 50%;
  z-index: 500;
}

.right-side-of-cup {
  position: relative;
  margin-top: 2px;
  margin-left: 29px;
  width: 100px;
  height: 80px;
  background-color: rgb(63, 155, 124);
  transform: rotate(85deg);
}

.left-side-of-cup {
  position: relative;
  margin-top: -80px;
  width: 100px;
  height: 80px;
  background-color: rgb(63, 155, 124);
  transform: rotate(-85deg);
}

.top-of-cup {
  position: relative;
  width: 117px;
  height: 20px;
  background-color: rgb(22, 88, 126);
  margin-top: -3px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: rgb(63, 155, 124);
}

.first-cup {
  transform-origin: 50% 50%;
}

.first-cup:hover {
  animation-name: cups-and-ball;
  animation-duration: 1s;
}

@keyframes cups-and-ball {
  0% {
    transition-duration: 0.1s;
    transform: rotate(10deg);
  }
  10% {
    transition-duration: 0.1s;
    transform: rotate(-10deg);
  }
  20% {
    transition-duration: 0.1s;
    transform: rotate(10deg);
  }
  30% {
    transition-duration: 0.1s;
    transform: rotate(-10deg);
  }
  40% {
    transition-duration: 0.1s;
    transform: rotate(10deg);
  }
  50% {
    transition-duration: 0.1s;
    transform: rotate(-10deg);
  }
  60% {
    transition-duration: 0.1s;
    transform: rotate(10deg);
  }
  70% {
    transition-duration: 0.1s;
    transform: rotate(-10deg);
  }
  80% {
    transition-duration: 0.1s;
    transform: rotate(10deg);
  }
  90% {
    transition-duration: 0.1s;
    transform: rotate(-10deg);
  }
  100% {
    transition-duration: 0.1s;
    transform: rotate(10deg);
  }
}

.second-place-for-ball {
  width: 20px;
  height: 20px;
  background-color: rgb(70, 13, 85);
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 20px;
}

.second-cup {
  transform-origin: 100% 100%;
  transition-duration: 0.3s;
  transform: rotate(30deg);
}

.first-place-for-ball {
  width: 20px;
  height: 20px;
  background-color: rgb(70, 13, 85);
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 20px;
}
