body {
  background: rgb(151, 189, 199);
  display: grid;
  align-items: center;
  justify-items: center;
}

.home {
  max-width: 600px;
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
}

.Rules {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
  padding: 5px;
}
