.parent-of-rock {
  display: grid;
  align-items: center;
  justify-items: center;
}

.rock {
  width: 50px;
  height: 50px;
  background-color: gray;
  transform-origin: center;
  border-radius: 100% 80% 100% 90%;
  background-image: linear-gradient(gray 20%, black 90%);
  animation-name: rock;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.parent-of-rock:hover {
  transform: scale(1.2);
}

@keyframes rock {
  0% {
    margin-left: 50px;
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    margin-left: -100px;
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    margin-left: 50px;
  }
}
